$white: #fff;
$black: #000;
$red: #AE1332;
$green: #A4CB66;
$yellow: #F5CE13;

$strawberry: #F8766B;
$banana: #EDD251;
$watermelon: #9DC262;
$lime: #BFD663;
$apple: #E93F29;
$peach: #DB4F4B;
$plums: #9B5366;
$orange: #F47F4C;
$kiwi: #98B37E;