@import "reset.scss";
@import "base.scss";
@import "components.scss";
@import "variable.scss";
@import "animation.scss";
@import "function.scss";

//  header
.header__nav {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_list {
        display: flex;
        gap: 20px;
    }
}


.header__logo_title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.header__logo_wrapper {
    display: flex;
}

// main
.main {
    background-color: $red;
}

// sterps section
.steps__section {
    margin-bottom: 150px;

    &_text-wrapper {
        max-width: 625px;
        margin: 0 auto;
        margin-bottom: 45px;
    }

    &_heading {
        margin-bottom: 15px;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: -1.6px;
        text-transform: uppercase;
    }

    &_description {
        max-width: 510px;
        margin: 0 auto;
        text-align: center;
    }
}

.steps-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.steps-card-number-block-2 {
    background-color: $green;
}

.steps-card-number-block-3 {
    background-color: $yellow;
}

.steps__section_gif {
    max-width: 860px;
    margin: 0 auto;

    img {
        border-radius: 20px;
    }
}

//organic__section ///////////