@import "reset.scss";
@import "base.scss";
@import "components.scss";
@import "variable.scss";
@import "animation.scss";
@import "function.scss";

//  header
.header__nav {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_list {
        display: flex;
        gap: 20px;
    }
}


.header__logo_title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.header__logo_wrapper {
    display: flex;
}

// main
.main {
    background-color: $red;
}

// sterps section
.steps__section {
    margin-bottom: 150px;
}

.steps-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.steps-card-number-block-2 {
    background-color: $green;
}

.steps-card-number-block-3 {
    background-color: $yellow;
}

.steps__section_gif {
    max-width: 860px;
    margin: 0 auto;

    img {
        border-radius: 20px;
    }
}

//organic__section ///////////
.organic__cards {
    margin-bottom: 45px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;


    &-1 {
        color: $white;
        background-color: $strawberry;
    }

    &-2 {
        color: $white;
        background-color: $yellow;
    }

    &-3 {
        color: $white;
        background-color: $watermelon;
    }

    &-4 {
        color: $white;
        background-color: $lime;
    }

    &-5 {
        color: $white;
        background-color: $apple;
    }

    &-6 {
        color: $white;
        background-color: $peach;
    }

    &-7 {
        color: $white;
        background-color: $plums;
    }

    &-8 {
        color: $white;
        background-color: $orange;
    }

    &-9 {
        color: $white;
        background-color: $kiwi;
    }
}

.order-link{
    display: block;
    background-color: #9DC262;
}