*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img,
svg,
video {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #FFF;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.56px;
}

html {
  font-size: 62.5%;
}

header {
  color: #AE1332;
}

.maxContainer {
  max-width: 1245px;
  padding: 0 15px;
  margin: 0 auto;
}

.minContainer {
  max-width: 1186px;
  padding: 0 15px;
  margin: 0 auto;
}

.nav {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
  gap: 20px;
}

.logo__wrapper {
  display: flex;
}
.logo__wrapper_img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.logo__wrapper_title {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.basket-icon {
  width: 28px;
  height: 28px;
  -o-object-fit: contain;
     object-fit: contain;
}

.title-1 {
  max-width: 625px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.title-1-heading {
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -1.6px;
  text-transform: uppercase;
}
.title-1-description {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
}

.steps-card {
  padding: 37px 45px 37px 20px;
  margin-bottom: 80px;
  width: 32%;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.steps-card-number-block {
  padding: 15px 42px;
  background-color: #AE1332;
  color: #fff;
  white-space: nowrap;
  font-size: 18px;
  line-height: 24px;
  border-radius: 200px;
}

.organic__card {
  display: flex;
  flex-direction: column;
  padding: 64px 24px 24px 24px;
  width: 32%;
  background-color: #fff;
  border-radius: 20px;
  color: black;
  font-size: 1.8rem;
}
.organic__card_img {
  margin-bottom: 5px;
  align-self: center;
}
.organic__card_title {
  margin-bottom: 10px;
  align-self: start;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
}
.organic__card_desc {
  margin-bottom: 5px;
  align-self: start;
}
.organic__card_info {
  text-align: center;
  padding: 15px 42px;
  background-color: #fff;
  font-weight: 500;
  color: #AE1332;
  border-radius: 200px;
}

.email-form {
  max-width: 30rem;
  max-height: 5rem;
  margin: 0 auto;
  position: relative;
}
.email-form_input {
  padding: 10px 30px;
  width: 90%;
  height: 100%;
  border-radius: 100px;
  background-color: #AE1332;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
}
.email-form_button {
  height: 99.5%;
  padding-left: 35px;
  padding-right: 35px;
  position: absolute;
  right: 0;
  background-color: #9DC162;
  border-radius: 100px;
  line-height: 18px;
  text-transform: capitalize;
  color: #fff;
}

.main {
  background-color: #AE1332;
}

.steps__section {
  margin-bottom: 150px;
}

.steps-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.steps-card-number-block-2 {
  background-color: #A4CB66;
}

.steps-card-number-block-3 {
  background-color: #F5CE13;
}

.steps__section_gif {
  max-width: 860px;
  margin: 0 auto;
}
.steps__section_gif img {
  border-radius: 20px;
}

.organic__cards {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.organic__cards-1 {
  color: #fff;
  background-color: #F8766B;
}
.organic__cards-2 {
  color: #fff;
  background-color: #F5CE13;
}
.organic__cards-3 {
  color: #fff;
  background-color: #9DC262;
}
.organic__cards-4 {
  color: #fff;
  background-color: #BFD663;
}
.organic__cards-5 {
  color: #fff;
  background-color: #E93F29;
}
.organic__cards-6 {
  color: #fff;
  background-color: #DB4F4B;
}
.organic__cards-7 {
  color: #fff;
  background-color: #9B5366;
}
.organic__cards-8 {
  color: #fff;
  background-color: #F47F4C;
}
.organic__cards-9 {
  color: #fff;
  background-color: #98B37E;
}

.box__section {
  margin-bottom: 150px;
}
.box__section_title {
  max-width: 74rem;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 64px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -2.56px;
  text-transform: uppercase;
  position: relative;
  bottom: 0.3rem;
}
.box__section__img_wrapper {
  margin-top: -35px;
  margin-bottom: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box__section_img1 {
  max-width: 79.2rem;
}
.box__section_img2 {
  max-width: 40rem;
}
.box__section_description {
  display: block;
  max-width: 49.5rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 8rem;
}

.footer {
  background-color: #fff;
  color: #AE1332;
}/*# sourceMappingURL=style.css.map */